Repository langchain-ai/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lnhsingh, @katmayb, @beklapko

.github/CODEOWNERS:

# Owner of the CODEOWNERS
/.github/CODEOWNERS @lnhsingh

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
*       @lnhsingh

# nav file
/src/docs.json @lnhsingh @katmayb @beklapko

# Any file in the `/src/langgraph-platform`
# and any of its subdirectories.
/src/langgraph-platform/ @katmayb @lnhsingh

# Any file in the `/src/langsmith`
# and any of its subdirectories.
/src/langsmith/ @katmayb @lnhsingh

# Any file in the `/src/oss`
# and any of its subdirectories.
/src/oss/ @beklapko @lnhsingh

Get just python sidebar and docs working and displaying correctly
  src/docs.json
  src/oss/integrations/chat/index.mdx
  src/oss/integrations/document_loaders/index.mdx
  src/oss/integrations/providers/anthropic.mdx
  src/oss/integrations/providers/aws.mdx
  src/oss/integrations/providers/google.mdx
  src/oss/integrations/providers/huggingface.mdx
  src/oss/integrations/providers/microsoft.mdx
  src/oss/integrations/providers/openai.mdx
  src/oss/integrations/retrievers/index.mdx
  src/oss/integrations/splitters/text_splitters.md
  src/oss/integrations/text_embedding/index.mdx
  src/oss/integrations/tools/index.md
  src/oss/integrations/vectorstores/index.mdx
Owners: @lnhsingh, @katmayb, @beklapko

Get initial page for all providers working
  src/docs.json
  src/oss/integrations/providers/all_providers.mdx
Owners: @lnhsingh, @katmayb, @beklapko

Remove JS sidebar, generate privew
  src/docs.json
Owners: @lnhsingh, @katmayb, @beklapko

Update changelog via LangGraph Server Changelog Bot
  src/langgraph-platform/langgraph-server-changelog.mdx
Owners: @katmayb, @lnhsingh

support email
  src/oss/langchain-agent-auth.mdx
Owners: @beklapko, @lnhsingh
