Repository langchain-ai/docs, pull requests merged in 2025-09, with the labels that each got.

#404 Corrections to instructor trace page
  src/langsmith/trace-with-instructor.mdx
Labels: langsmith

#542 docs(redis): Update Redis vector store documentation for deleting documents
  src/oss/javascript/integrations/vectorstores/redis.mdx
Labels: langchain, oss, javascript

#418 multi agent
  src/oss/langchain/multi-agent.mdx
Labels: langchain, oss

#554 Correct external link to reference material
  src/langsmith/evaluation-concepts.mdx
Labels: langsmith

#557 fix link
  src/langgraph-platform/monorepo-support.mdx
Labels: langgraph-platform

#560 docs(ls): set sampling rate per client
  src/langsmith/sample-traces.mdx
Labels: langsmith

#562 oss(genai): structured output docs additions
  src/oss/python/integrations/chat/google_generative_ai.mdx
Labels: langchain, python, oss

#566 General cleanup: LangChain overview
  src/oss/langchain/agents.mdx
  src/oss/langchain/install.mdx
  src/oss/langchain/overview.mdx
  src/oss/langchain/philosophy.mdx
  src/oss/langchain/quickstart.mdx
  src/style.css
Labels: langchain, oss

#558 Remove duplicate import of StateGraph
  src/oss/langgraph/test.mdx
Labels: langgraph, oss

#555 langgraph docs: fix broken internal link to subgraphs page
  src/oss/langgraph/test.mdx
Labels: langgraph, oss

#561 update alpha banners
  pipeline/core/builder.py
  src/oss/langchain/overview.mdx
  src/snippets/alpha-lc-callout.mdx
  src/snippets/alpha-lg-callout.mdx
Labels: langchain, python, oss, docs-infra

#563 nit
  src/oss/contributing/index.mdx
Labels: oss

#580 Revert "Add composite scores"
  src/docs.json
  src/langsmith/composite-evaluators.mdx
  src/langsmith/images/create_composite_evaluator-dark.png
  src/langsmith/images/create_composite_evaluator-light.png
Labels: langsmith

#567 Update provider selected in prompt model connect page openai
  src/langsmith/custom-openai-compliant-model.mdx
  src/langsmith/images/openai-compatible-endpoint-dark.png
  src/langsmith/images/openai-compatible-endpoint.png
  src/langsmith/images/openai-proxy-provider.png
Labels: langsmith

#591 Add link to LS self-hosted docs in LangGraph Control Plane API reference page
  src/langgraph-platform/api-ref-control-plane.mdx
Labels: langgraph-platform

#582 update AWS Bedrock following v1 alpha release
  src/oss/python/integrations/chat/bedrock.mdx
  src/oss/python/releases/langchain-v1.mdx
Labels: langchain, python, oss

#575 fix code cell for streaming
  src/oss/langchain/messages.mdx
Labels: langchain, oss

#597 docs: fix typos in context-engineering
  src/oss/langchain/context-engineering.mdx
Labels: langchain, oss

#588 Test updated observability sidebar for LangSmith
  src/docs.json
  src/langsmith/alerts-webhook.mdx
  src/langsmith/webhooks.mdx
Labels: langsmith

#600 docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s)
  src/langgraph-platform/langgraph-server-changelog.mdx
Labels: langgraph-platform

#610 fix: wrong uv commands
  src/oss/langchain/install.mdx
  src/oss/langchain/overview.mdx
  src/oss/langgraph/install.mdx
  src/oss/langgraph/overview.mdx
Labels: langchain, langgraph, oss

#605 Clarify that session_id is project ID
  src/langsmith/export-traces.mdx
  src/langsmith/run-data-format.mdx
Labels: langsmith

#599 docs: add AI/ML API provider documentation
  src/oss/python/integrations/chat/aimlapi.mdx
  src/oss/python/integrations/chat/index.mdx
  src/oss/python/integrations/llms/aimlapi.mdx
  src/oss/python/integrations/providers/aimlapi.mdx
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/index.mdx
  src/oss/python/integrations/text_embedding/aimlapi.mdx
  src/oss/python/integrations/text_embedding/index.mdx
Labels: langchain, python, oss

#608 Advertise LG dev through NPM package
  src/langgraph-platform/quick-start-studio.mdx
  src/langgraph-platform/set-up-custom-auth.mdx
Labels: langgraph-platform

#639 nits: lgp prose
  src/docs.json
  src/langgraph-platform/deploy-hybrid.mdx
  src/langgraph-platform/deploy-self-hosted-full-platform.mdx
  src/langgraph-platform/deploy-standalone-server.mdx
  src/langgraph-platform/deploy-to-cloud.mdx
  src/langgraph-platform/setup-app-requirements-txt.mdx
  src/langgraph-platform/setup-pyproject.mdx
Labels: langgraph-platform

#640 feat: reference docs
  .editorconfig
  Makefile
  README.md
  reference/.gitignore
  reference/javascript/.eslintignore
  reference/javascript/.eslintrc.cjs
  reference/javascript/.gitignore
  reference/javascript/.prettierignore
  reference/javascript/.prettierrc
  reference/javascript/build.ts
  reference/javascript/eslint.config.mjs
  reference/javascript/package.json
  reference/javascript/pnpm-lock.yaml
  reference/javascript/tsconfig.json
  reference/package.json
  reference/pnpm-lock.yaml
  reference/python/Makefile
  reference/python/README.md
  reference/python/__init__.py
  reference/python/__main__.py
  reference/python/build.py
  reference/python/errors.py
  reference/vercel.json
Labels: python, javascript, ci

#645 fix(middleware): improve JS translations
  src/oss/langchain/middleware.mdx
Labels: langchain, oss

#636 fix stripe toolkit import in the guide
  src/oss/python/integrations/tools/stripe.mdx
Labels: langchain, python, oss

#627 Perigon integration
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/index.mdx
  src/oss/python/integrations/providers/perigon.mdx
  src/oss/python/integrations/retrievers/perigon.mdx
Labels: langchain, python, oss

#652 docs: add some emphasis for setting up blob and restrict role
  src/langsmith/kubernetes.mdx
  src/langsmith/self-host-blob-storage.mdx
Labels: langsmith

#657 chore: move scripts
  pyproject.toml
  scripts/convert_pip_to_codegroup.py
  scripts/update_mdx.py
Labels: python, docs-infra, ci

#658 chore: linting, formatting, bumps
  .github/workflows/_lint.yml
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  .github/workflows/create-preview-branch.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/test-build-docs.yml
  Makefile
  pipeline/commands/dev.py
  pyproject.toml
  tests/unit_tests/utils.py
  uv.lock
Labels: python, docs-infra, ci, tests

#661 Update the managed-ClickHouse page for specifics on stored fields
  src/langsmith/feedback-data-format.mdx
  src/langsmith/langsmith-managed-clickhouse.mdx
  src/snippets/langsmith/feedback-data-fields.mdx
Labels: langsmith

#665 fix(code-evals): added docs for js code evals [LSP-525]
  src/langsmith/bind-evaluator-to-dataset.mdx
  src/langsmith/online-evaluations.mdx
Labels: langsmith

#664 Add warning about RemoteGraph deadlock risk
  src/langgraph-platform/use-remote-graph.mdx
Labels: langgraph-platform

#662 chore: clarify Okta configuration fields
  src/langsmith/self-host-sso.mdx
Labels: langsmith

#671 docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s)
  src/langgraph-platform/langgraph-server-changelog.mdx
Labels: langgraph-platform

#679 Consolidate studio content
  src/docs.json
  src/langgraph-platform/invoke-studio.mdx
  src/langgraph-platform/langgraph-studio.mdx
  src/langgraph-platform/manage-assistants-studio.mdx
  src/langgraph-platform/quick-start-studio.mdx
  src/langgraph-platform/threads-studio.mdx
  src/langgraph-platform/use-studio.mdx
  src/snippets/oss/studio.mdx
Labels: langgraph-platform

#680 Integrations docs cosmetic fixes
  src/docs.json
  src/oss/contributing/code.mdx
  src/oss/javascript/integrations/providers/all_providers.mdx
  src/oss/javascript/integrations/providers/index.mdx
  src/oss/javascript/integrations/vectorstores/index.mdx
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/index.mdx
  src/oss/python/integrations/vectorstores/index.mdx
  src/style.css
Labels: langchain, python, oss, javascript

#675 chore(langgraph): Fix footnotes in streaming docs
  src/oss/langgraph/streaming.mdx
Labels: langgraph, oss

#684 fix(langgraph): graph api docs
  src/oss/langgraph/graph-api.mdx
Labels: langgraph, oss

#686 anthropic: document context management and memory tool features
  src/oss/python/integrations/chat/anthropic.mdx
Labels: langchain, python, oss

#691 docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s)
  src/langgraph-platform/langgraph-server-changelog.mdx
Labels: langgraph-platform

#618 Improve prompt engineering quickstart for new users
  src/langsmith/images/add-commit-tag-dark.png
  src/langsmith/images/add-commit-tag-light.png
  src/langsmith/images/create-a-prompt-dark.png
  src/langsmith/images/create-a-prompt-light.png
  src/langsmith/images/model-config-light.png
  src/langsmith/images/set-input-start-dark.png
  src/langsmith/images/set-input-start-light.png
  src/langsmith/prompt-engineering-quickstart.mdx
  src/snippets/langsmith/set-workspace-secrets.mdx
Labels: langsmith

#689 chore(runtime): quick fixes in the Runtime file
  pipeline/preprocessors/link_map.py
  src/oss/langchain/runtime.mdx
Labels: langchain, python, oss, docs-infra

#700 updates to langchain/messages guide
  src/oss/langchain/messages.mdx
Labels: langchain, oss

#698 Add links to ingress documentation from LGP docs
  src/langgraph-platform/deploy-hybrid.mdx
  src/langgraph-platform/self-hosted.mdx
Labels: langgraph-platform

#707 langchain: nits
  src/oss/contributing/documentation.mdx
  src/oss/langchain/philosophy.mdx
Labels: langchain, oss
