Repository langchain-ai/docs, pull requests merged in 2025-10, with the labels that each got.

#712 minor fix in messages guide
  src/oss/langchain/messages.mdx
Labels: langchain, oss

#716 more reference docs updates / `README.md` update
  IDE_SETUP.md
  Makefile
  README.md
  reference/README.md
  reference/javascript/.gitignore
  reference/javascript/README.md
  reference/python/README.md
  reference/python/mkdocs.yml
  reference/python/pyproject.dev.toml
Labels: ci

#719 docs: enhance Python reference documentation and contributing guidelines
  reference/python/README.md
  reference/python/docs/index.md
  reference/python/overrides/main.html
  src/oss/contributing/documentation.mdx
Labels: oss

#694 Add X-Tenant-Id header info in the API key section
  src/langsmith/administration-overview.mdx
Labels: langsmith

#715 models guide updates
  src/oss/langchain/models.mdx
  src/snippets/chat-model-tabs.mdx
Labels: langchain, oss

#731 docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s)
  src/langgraph-platform/langgraph-server-changelog.mdx
Labels: langgraph-platform

#720 Restructure Kubernetes Install Instructions to Emphasize External Databases
  src/langsmith/kubernetes.mdx
Labels: langsmith

#730 mark agent auth feature as beta
  src/langgraph-platform/agent-auth.mdx
Labels: langgraph-platform

#740 Reorganize TLS Docs for Self-Hosted
  src/langsmith/self-host-custom-tls-certificates.mdx
Labels: langsmith

#744 nits
  src/labs/oap/custom-agents/configuration.mdx
  src/langsmith/test-react-agent-pytest.mdx
  src/langsmith/trace-with-api.mdx
  src/langsmith/trace-with-google-adk.mdx
  src/langsmith/trace-with-opentelemetry.mdx
  src/oss/javascript/integrations/chat/google_vertex_ai.mdx
  src/oss/javascript/integrations/chat/index.mdx
  src/oss/javascript/integrations/providers/google.mdx
  src/oss/javascript/integrations/tools/mcp_toolbox.mdx
  src/oss/langchain/models.mdx
  src/oss/langchain/overview.mdx
  src/oss/langchain/philosophy.mdx
  src/oss/langchain/quickstart.mdx
  src/oss/langchain/sql-agent.mdx
  src/oss/langchain/structured-output.mdx
  src/oss/langgraph/add-human-in-the-loop.mdx
  src/oss/langgraph/add-memory.mdx
  src/oss/langgraph/overview.mdx
  src/oss/langgraph/pregel.mdx
  src/oss/langgraph/use-functional-api.mdx
  src/oss/langgraph/use-graph-api.mdx
  src/oss/python/integrations/chat/google_generative_ai.mdx
  src/oss/python/integrations/chat/naver.mdx
  src/oss/python/integrations/tools/writer.mdx
  src/snippets/chat-model-tabs-js.mdx
  src/snippets/chat-model-tabs.mdx
Labels: langchain, langgraph, langsmith, python, oss, javascript, labs

#748 Update supported features of MongoDBAtlasVectorSearch
  src/oss/python/integrations/vectorstores/index.mdx
Labels: langchain, python, oss

#753 fix: SCIM links & remove incorrect docs
  src/langsmith/self-host-sso.mdx
  src/langsmith/user-management.mdx
Labels: langsmith

#725 docs: add langchain-scraperapi
  src/oss/python/integrations/providers/scraperapi.mdx
  src/oss/python/integrations/tools/scraperapi.mdx
Labels: langchain, python, oss

#710 docs: add opendataloader_pdf integration page
  src/oss/python/integrations/document_loaders/index.mdx
  src/oss/python/integrations/document_loaders/opendataloader_pdf.mdx
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/opendataloader_pdf.mdx
Labels: langchain, python, oss

#746 Fix bug in js preModelHook docs
  src/oss/langchain/agents.mdx
Labels: langchain, oss

#756 feat: update `package.yml` download counts on workflow cron
  .github/scripts/packages_yml_get_downloads.py
  .github/workflows/update-package-downloads.yml
Labels: python, ci

#759 chore: bump py ref deps
  pyproject.toml
  reference/python/pyproject.toml
  reference/python/uv.lock
Labels: ci

#760 docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s)
  src/langgraph-platform/langgraph-server-changelog.mdx
Labels: langgraph-platform

#752 chore(docs): fix a bunch of create agent import paths
  src/langgraph-platform/graph-rebuild.mdx
  src/langgraph-platform/server-mcp.mdx
  src/langsmith/evaluate-complex-agent.mdx
  src/langsmith/evaluate-graph.mdx
  src/langsmith/run-backtests-new-agent.mdx
  src/langsmith/test-react-agent-pytest.mdx
  src/langsmith/trace-with-langgraph.mdx
  src/oss/javascript/integrations/tools/decodo.mdx
  src/oss/langgraph/INVALID_CHAT_HISTORY.mdx
  src/oss/langgraph/add-human-in-the-loop.mdx
  src/oss/langgraph/agentic-rag.mdx
  src/oss/reference/overview.mdx
  src/snippets/javascript-integrations/examples/agents/stagehand_ai_web_browser.mdx
  src/snippets/javascript-integrations/examples/tools/google_calendar.mdx
Labels: langchain, langgraph, langsmith, langgraph-platform, oss, javascript

#774 oss ref work
  Makefile
  pipeline/tools/partner_pkg_table.py
  reference/python/Makefile
  reference/python/README.md
  reference/python/docs/index.md
  reference/python/docs/integrations/index.md
  reference/python/docs/integrations/langchain-anthropic.md
  reference/python/docs/integrations/langchain-aws.md
  reference/python/docs/integrations/langchain-google.md
  reference/python/docs/integrations/langchain-openai.md
  reference/python/docs/integrations/langchain-tests.md
  reference/python/docs/integrations/langchain_anthropic.md
  reference/python/docs/integrations/langchain_astradb.md
  reference/python/docs/integrations/langchain_aws.md
  reference/python/docs/integrations/langchain_azure_ai.md
  reference/python/docs/integrations/langchain_azure_dynamic_sessions.md
  reference/python/docs/integrations/langchain_cerebras.md
  reference/python/docs/integrations/langchain_chroma.md
  reference/python/docs/integrations/langchain_cohere.md
  reference/python/docs/integrations/langchain_db2.md
  reference/python/docs/integrations/langchain_deepseek.md
  reference/python/docs/integrations/langchain_elasticsearch.md
  reference/python/docs/integrations/langchain_exa.md
  reference/python/docs/integrations/langchain_fireworks.md
  reference/python/docs/integrations/langchain_google_community.md
  reference/python/docs/integrations/langchain_google_genai.md
  reference/python/docs/integrations/langchain_google_vertexai.md
  reference/python/docs/integrations/langchain_groq.md
  reference/python/docs/integrations/langchain_huggingface.md
  reference/python/docs/integrations/langchain_ibm.md
  reference/python/docs/integrations/langchain_milvus.md
  reference/python/docs/integrations/langchain_mistralai.md
  reference/python/docs/integrations/langchain_mongodb.md
  reference/python/docs/integrations/langchain_neo4j.md
  reference/python/docs/integrations/langchain_nomic.md
  reference/python/docs/integrations/langchain_nvidia_ai_endpoints.md
  reference/python/docs/integrations/langchain_ollama.md
  reference/python/docs/integrations/langchain_openai.md
  reference/python/docs/integrations/langchain_perplexity.md
  reference/python/docs/integrations/langchain_pinecone.md
  reference/python/docs/integrations/langchain_postgres.md
  reference/python/docs/integrations/langchain_prompty.md
  reference/python/docs/integrations/langchain_qdrant.md
  reference/python/docs/integrations/langchain_redis.md
  reference/python/docs/integrations/langchain_sema4.md
  reference/python/docs/integrations/langchain_snowflake.md
  reference/python/docs/integrations/langchain_sqlserver.md
  reference/python/docs/integrations/langchain_tavily.md
  reference/python/docs/integrations/langchain_together.md
  reference/python/docs/integrations/langchain_unstructured.md
  reference/python/docs/integrations/langchain_upstage.md
  reference/python/docs/integrations/langchain_weaviate.md
  reference/python/docs/integrations/langchain_xai.md
  reference/python/mkdocs.yml
  reference/python/overrides/main.html
  reference/python/pyproject.toml
  reference/python/uv.lock
  src/oss/python/integrations/providers/index.mdx
  uv.lock
Labels: langchain, python, oss, docs-infra, ci

#782 fix broken links in quickstart
  pipeline/preprocessors/link_map.py
  src/oss/langchain/quickstart.mdx
Labels: langchain, python, oss, docs-infra

#693 docs(chroma): Update Chroma Cloud connection example code
  src/oss/javascript/integrations/vectorstores/chroma.mdx
Labels: langchain, oss, javascript

#783 oss: more nav updates
  src/docs.json
  src/oss/contributing/overview.mdx
  src/oss/javascript/integrations/providers/all_providers.mdx
  src/oss/javascript/integrations/providers/overview.mdx
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/overview.mdx
Labels: langchain, python, oss, javascript

#786 fix: Okta docs instructions
  src/langsmith/user-management.mdx
Labels: langsmith

#787 fix: ENT-145: add us gov issuer
  src/langsmith/self-host-sso.mdx
Labels: langsmith
